*,
::after,
::before {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: black;
  color: white;
  font-family: 'Seven Segment', sans-serif;
}

#container {
  position: relative;
  left: 5vw;
  top: 50vh;
  height: 5rem;
  transform: translate(0, -50%);

  font-size: 5rem;
}

#error {
  position: absolute;
  left:50vw;
  top: calc(50vh + 6rem);
  transform: translate(-50%, -50%);

  color: red;
  font-size: 3rem;

  animation: blink 2s steps(2, start) infinite;

  visibility: hidden;
}

#input {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  position: absolute;
  width: 100%;
  font-size: 5rem;
  
  transform: translate(0, calc(5rem - 100%));
}

#input div {
  height: 5rem;
  transition: transform 0.1s;
  white-space: nowrap;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

#cursor {
  animation: blink 1s steps(2, start) infinite;
}

